@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Oswald:wght@400;600&family=Spectral:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}

/*


// Media Desktop Tall
@media screen and (min-width: $media-tall)  {}

// Media Desktop Small
@media screen and (min-width: $media-medium) and (max-width: $media-tall) and (orientation:portrait) {}

// Media Tablet
@media screen and (min-width: $media-small) and (max-width: $media-medium) and (orientation:portrait) {}

// Media Mobile Default
@media screen and (max-width: $media-small) and (orientation:portrait) {}

// Media Movil Rotate
@media screen and (min-width: $media-small-xs) and (max-width: $media-tall) and (orientation:landscape) {}

*/
.contImgAbout {
  background-image: url(../../../public/imageCarAbout.jpg);
  background-size: cover;
}

.ig {
  width: 30px;
  height: 30px;
}

.lk {
  width: 30px;
  height: 30px;
}

.contHome {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../../../public/backgroundHome.jpg);
  background-size: cover;
}

#card01 {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../../../public/bmw.jpg);
  background-size: cover;
}

#card02 {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../../../public/lambo.jpg);
  background-size: cover;
}

#card03 {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../../../public/mercedez.jpg);
  background-size: cover;
}

#card04 {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../../../public/porshe.jpg);
  background-size: cover;
}

.footer {
  background-color: #2e2e2e;
}

.contHeader {
  padding: 0px 10%;
  display: flex;
  justify-content: space-between;
  background: transparent;
}
.contHeader .contLogo .titleLogo {
  font-family: "Oswald", sans-serif;
  font-size: 30px;
  font-weight: 600;
  color: #cfcfcf;
}
.contHeader .navMenu {
  width: 300px;
}
.contHeader .navMenu .menuBurger {
  display: none;
}
.contHeader .navMenu .ulMenu {
  list-style-type: none;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.contHeader .navMenu .ulMenu .liMenu {
  font-family: "Libre Baskerville", serif;
  font-size: 15px;
  font-weight: 500;
  color: #cfcfcf;
  display: inline;
  padding-top: 5%;
}

.contHome {
  height: 500px;
  margin-top: -50px;
  padding: 0px 15%;
  padding-top: 250px;
  display: block;
  margin: center;
}
.contHome .titleHome {
  font-family: "Libre Baskerville", serif;
  font-size: 50px;
  font-weight: 600;
  color: #f6f2f2;
}
.contHome .btnHome {
  border: none;
  border-radius: 20px;
  background-color: #7A6D31;
  padding: 12px 30px;
  margin-top: 20px;
}
.contHome .btnHome a {
  font-family: "Libre Baskerville", serif;
  font-size: 15px;
  font-weight: 400;
  color: #cfcfcf;
}

.sectAbout {
  height: 400px;
  background-color: black;
  padding: 10%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}
.sectAbout .contTextAbout {
  grid-column: 1;
}
.sectAbout .contTextAbout .titleAbout {
  font-family: "Libre Baskerville", serif;
  font-size: 35px;
  font-weight: 600;
  color: #f6f2f2;
  margin-bottom: 20px;
}
.sectAbout .contTextAbout .textAbout {
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  font-weight: 400;
  color: #cfcfcf;
}
.sectAbout .contTextAbout .btnAbout {
  border: none;
  background: transparent;
  color: #7A6D31;
}
.sectAbout .contTextAbout .btnAbout a {
  font-family: "Libre Baskerville", serif;
  font-size: 15px;
  font-weight: 400;
  color: #cfcfcf;
}
.sectAbout .contImgAbout {
  grid-column: 2;
}

.sectNumber {
  padding: 10%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 40px;
  background-color: black;
}
.sectNumber .cardNumber {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-gap: 5px;
}
.sectNumber .cardNumber .numberCard {
  font-family: "Libre Baskerville", serif;
  font-size: 35px;
  font-weight: 600;
  color: #f6f2f2;
  display: inline;
  font-size: 65px;
}
.sectNumber .cardNumber .textCard {
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  font-weight: 400;
  color: #cfcfcf;
  display: inline;
  margin: revert;
}

.sectCard {
  height: 600px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.sectCard .cardCar {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10% 0%;
}
.sectCard .cardCar .titleCardCar {
  font-family: "Libre Baskerville", serif;
  font-size: 35px;
  font-weight: 600;
  color: #f6f2f2;
}
.sectCard .cardCar .btnCardCar {
  border: none;
  background: transparent;
  margin-bottom: 185px;
}
.sectCard .cardCar .btnCardCar a {
  font-family: "Libre Baskerville", serif;
  font-size: 15px;
  font-weight: 400;
  color: #cfcfcf;
}

.sectContact {
  height: 350px;
  padding: 10% 10%;
  margin-top: -10px;
  background-color: black;
}
.sectContact .titleContact {
  font-family: "Libre Baskerville", serif;
  font-size: 35px;
  font-weight: 600;
  color: #f6f2f2;
}
.sectContact .contForm {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}
.sectContact .contForm .form {
  grid-column: 1;
}
.sectContact .contForm .form .inpName {
  width: 95%;
  padding: 10px 0px 10px 10px;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: grey;
  background-color: #2e2e2e;
  border: none;
  border-radius: 5px;
  margin-top: 5px;
}
.sectContact .contForm .form .inpEmail {
  width: 95%;
  padding: 10px 0px 10px 10px;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: grey;
  background-color: #2e2e2e;
  border: none;
  border-radius: 5px;
  margin-top: 5px;
  width: 48%;
}
.sectContact .contForm .form .inpPhone {
  width: 95%;
  padding: 10px 0px 10px 10px;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: grey;
  background-color: #2e2e2e;
  border: none;
  border-radius: 5px;
  margin-top: 5px;
  width: 43%;
}
.sectContact .contForm .form .inpText {
  width: 95%;
  padding: 10px 0px 10px 10px;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: grey;
  background-color: #2e2e2e;
  border: none;
  border-radius: 5px;
  margin-top: 5px;
  height: 170px;
}
.sectContact .contForm .form .inpSubmit {
  border: none;
  border-radius: 20px;
  background-color: #7A6D31;
  padding: 12px 30px;
  font-family: "Libre Baskerville", serif;
  font-size: 15px;
  font-weight: 400;
  color: #cfcfcf;
  width: 97%;
  margin-top: 20px;
}
.sectContact .contForm .contDate .numDate {
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  font-weight: 400;
  color: #cfcfcf;
  font-size: 30px;
  margin-top: 20px;
}
.sectContact .contForm .contDate .mailDate {
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  font-weight: 400;
  color: #cfcfcf;
  margin-top: 20px;
}
.sectContact .contForm .contDate .addresDate {
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  font-weight: 400;
  color: #cfcfcf;
  margin-top: 20px;
}

.footer {
  height: auto;
  padding: 3% 10%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.footer .titleFooter {
  font-family: "Oswald", sans-serif;
  font-size: 30px;
  font-weight: 600;
  color: #cfcfcf;
  grid-column: 1;
}
.footer .contSocialMedia {
  grid-column: 2;
  text-align: end;
}
@media screen and (min-width: 575px) and (max-width: 990px) and (orientation: portrait) {
  .contHeader {
    padding: 0px 10%;
  }
  .contHeader .contLogo .titleLogo {
    display: inline;
  }
  .contHeader .navMenu {
    display: none;
  }
  .contHeader .navMenu .menuBurger {
    display: inline;
    width: 30px;
    height: 30px;
    align-items: end;
    margin-top: 10px;
  }
  .contHome {
    padding: 0px 8%;
    padding-top: 250px;
  }
  .sectAbout {
    height: auto;
    padding: 10% 5%;
    display: flex;
    flex-direction: column;
  }
  .sectAbout .contTextAbout .btnAbout {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .sectAbout .contImgAbout {
    height: 500px;
  }
  .sectNumber {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 20px;
  }
  .sectCard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .sectCard #card01 {
    display: none;
  }
  .sectContact {
    padding: 20% 3%;
  }
  .sectContact .contForm {
    display: grid;
    grid-template-columns: 60% 40%;
  }
}
/*
    .contHeader {
        padding: 0px 10% ;
        .contLogo {
            .titleLogo {
                display: inline ;
            }
        }
        .navMenu {
            display: none ;
            .menuBurger {
                display: inline ;
                width: 30px ;
                height: 30px ;
                align-items: end ;
                margin-top: 10px ;
            }
            .ulMenu {
                .liMenu {}
            }
        }
    }
    .contHome {
        padding: 0px 8% ;
        padding-top: 250px ;
        .btnHome {}
    }
    .sectAbout {
        height: auto ;
        padding: 10% 5% ;
        display: flex ;
        flex-direction: column ;
    .contTextAbout {
        .titleAbout {}

        .textAbout {}

        .btnAbout {}
    }

    .contImgAbout {
            height: 500px ;
    }
}
    .sectNumber {
        padding: 5% ;
        grid-gap: 20px ;
        .cardNumber {
            .numberCard {}
            .textCard {}
        }
    }
    .sectCard {
        .cardCar {
            .titleCardCar {}
            .btnCardCar {}
        }
    }
    .sectContact {
        .titleContact {}
        .contForm {
            .form {
                .inpName {}
                .inpEmail {}
                .inpPhone {}
                .inpText {}
                .inpSubmit {}
            }
            .contDate {
                .numDate {}
                .mailDate {}
                .addresDate {}
            }
        }
    }
    .footer {
        .titleFooter {}
        .contSocialMedia {
            .ig {}
            .lk {}
        }
    }
*//*# sourceMappingURL=index.css.map */